/*This div is used to define the look of the smaller text below the title, more
 importantly it is animated to rotate through different colors. */
.portani {
  font-family: "Times New Roman", Times, serif;
  color: #3D5A80;
  animation-name: color;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

/*This is the specifc code for the color animation, it switches the text color between three differnt shades of blue. */
@keyframes color {
  0%   {color: #3D5A80;}
  40%  {color: #98C1D9;}
  80%  {color: #293241;}
}

/*This style is used to separate the main webpage that was created from the rest
of the portfolio, this is done with a border and sizing to keep it within a certain area. */
.embeded {
  width: 67%;
  border-style: solid;
  border-color: #3D5A80;
  border-width: 3px;
  float: right;
}

/*This section is used to define the look of the column where each portfolio
entry is explained, it colors the section, gives it borders, font, and sizes it. */
.portdesc {
  width: 30%;
  border-style: solid;
  border-color: #3D5A80;
  border-width: 3px;
  background-color: #98C1D9;
  color: #293241;
  font-family: "Times New Roman", Times, serif;
  float: left;
  padding: 5px;
}

/*This creates the naviagation bar at the top of the webpage, from the portfolio
 itself that lets users nagigate from the gallery to the other web pages. */
.porttopnav {
  background-color: #98C1D9;
  overflow: hidden;
}

/*This section specifies the look of the text within the naviagtion bar of the
portfolio, it mostly covers font and color (looks), and also aligns it in the right location. */
.porttopnav a {
  float: left;
  display: block;
  color: #3D5A80;
  text-align: center;
  background-color: #98C1D9;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  font-size: 15px;
}

/*This syyle is used to create the main title of the portfolio page itself, the
margins, fonts, and colors and choosen here. */
.porttitle {
  color: #EE6C4D;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  margin-left: 26px;
  margin-right: 26px;
  margin-top: 26px;
  margin bottom: 26px;
  padding: 6px;
}

/* This style refers the look of the main portfolio navigation bar sections after being hovered
over, the background color of the boxes is the main change. */
.porttopnav a:hover {
  background-color: #EE6C4D;
  color: #293241;
}

/* This is where the look of the large title is defined, its size, color, and
spacing. */
  .title {
    color: #474747;
    font-family: "Verdana", sans serif;
    font-size: 33px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin bottom: 30px;
    padding: 10px;

  }

/* This style refers the navigation bar, and the overall look of the bar itself. */
  .topnav {
    background-color: #474747;
    overflow: hidden;
    border-radius: 6px;
  }

  /* This section defines the look of the links withing the naviagation bar, and
  the way the text in this section looks as a whole. */
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    background-color: #474747;
    font-family: "Verdana", sans serif;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
  }

/*This section is another form of the topnav a text, it helpled fill up some spacing issues. */
  .topnav a.ugh {
    float: left;
    display: block;
    color: #474747;
    text-align: center;
    background-color: #474747;
    font-family: "Verdana", sans serif;
    padding: 10px;
    font-size: 15px;
  }

  /* This style refers the look of the navigation bar sections after being hovered
   over, the background color of the boxes is the main change. */
  .topnav a:hover {
    background-color: #d4d4d4;
    color: #474747;
    border-radius: 6px;
  }

/*This section is another form of the topnav a text, it helpled fill up some spacing issues. */
  .topnav a.ugh:hover {
    background-color: #474747;
    color: #474747;
  }

  /* This is where the basic look of many parts of the website are defined,
   the font, spacing, and color are set up here. This one is very similar to the
    main columns, but it spans the whole width of the web page. */
  .longcolumn {
    float: left;
    background-color: #d4d4d4;
    color: #474747;
    font-family: "Verdana", sans serif;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    font-size: 15;
    margin bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    width: 92%;
  }

/* This is one of the main body text divs, it is light grey with dark grey text,
 and it fills up about half the page vertically. It is identical to maincomlumn2 just with different positioning.*/
  .maincolumn {
    float: left;
    width: 40%;
    background-color: #d4d4d4;
    color: #474747;
    font-family: "Verdana", sans serif;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 15;
    margin-top: 30px;
    margin bottom: 30px;
    padding: 10px;
    border-radius: 10px;
  }

  /* This is one of the main body text divs, it is light grey with dark grey text,
   and it fills up about half the page vertically. It is identical to maincomlumn just with different positioning.*/
  .maincolumn2 {
    float: left;
    width: 40%;
    background-color: #d4d4d4;
    color: #474747;
    font-family: "Verdana", sans serif;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 15;
    margin-top: 30px;
    margin bottom: 30px;
    padding: 10px;
    border-radius: 10px;
  }

/* This section is used for spacing and positioning for the main columns and tables. */
  .row {
    content: "";
    display: table;
    clear: both;
  }

/*This div simply makes all <a> links the same color as the normal text, a dark grey color.  */
  a {
    color: #474747;
  }

/*This style is used to define how the table (and its content) looks, it sets the color and size of borders.*/
  table, th, td {
    border: 2px solid #474747;
    border-collapse: collapse;
  }
